/* scheduled tasks */
.scheduled-tasks p {
  display: inline-block;
  padding: 0.2rem 0.2rem;
  box-sizing: border-box;
}

.scheduled-tasks p:hover {
  border: 2px solid #000000;
  border-radius: 0.5rem;
}

.scheduled-tasks label {
  display: inline-block;
  cursor: pointer;
}

/* task input */
.task-input input {
  padding: 1.5px 4.5px;
}

/* side bar  */
.right-sidebar {
  position: fixed;
  right: -15px;
  top: 0;
  margin-right: 0.8rem;
  transform: translate(0%, 50%);
}

.sidebar-content {
  display: flex;
  flex-direction: row;
  transform-origin: right center;
}

.sidebar-content button {
  padding: 20px 5px;
  word-spacing: 0px;
  letter-spacing: -7px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.sidebar-content a {
  text-decoration: none;
  color: inherit;
}

/* login */

.login-page h1 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 0.3rem;
}

.form-input:focus {
  outline: 2.5px solid #222b56; /* light beige color */
}
