.scheduled-tasks p {
  display: inline;
}

.scheduled-tasks label {
  display: inline-block;
  cursor: pointer;
}

.task-input input {
  padding: 1.5px 4.5px;
}

.right-sidebar {
  position: fixed;
  right: -15px;
  top: 0;
  margin-right: 0.8rem;
  transform: translate(0%, 50%);
}

.sidebar-content {
  display: flex;
  flex-direction: row;
  transform-origin: right center;
}

.sidebar-content button {
  padding: 20px 5px;
  word-spacing: 0px;
  letter-spacing: -7px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
